.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 300px;
  height: 100vh;
  border: 1px solid black;
}

.table > Header,
Nav {
  padding: 20px;
}
